    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background: #EFEFEF;
        color: rgba(0, 0, 0, 0.904);
        font-family: 'Work Sans', sans-serif;
    }

/* ? ----- Cuenta Regresiva ----- */
#cuenta {
	display: flex;
	justify-content: center;

}

.simply-section {
	background: #fff;
	width: 100px;
	height: 100px;
	margin: 0 10px;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.simply-amount {
	display: block;
	font-size: 30px;
	font-weight: 700;
}

.simply-word {
	font-weight: 300;
	font-size: 15px;
}
@media screen and (max-width:800px){

    .simply-section{
        width: 100px;
        height: 100px;
    }
}
@media screen and (max-width:500px){
    .simply-section{
        width: 100px;
        height: 100px;
    }
}